body {
    margin: 0px 0px 10px 0px;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
}

nav {
    background-color: #8bd1ec;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.bank {
    margin-left: 20px;
    margin-right: 20px;
}

.Welcomepage {
    display: flex;
}

#result {
    text-align: left;
    border-radius: 3px;
    height: 280px;
    background-color: rgb(236, 236, 235);
}

#splitside {
    display: flex;
}

h3 {
    margin-block-end: 1px;
}

.leftside {
    display: flex;
    align-items: center;
}


.textTools {
    display: flex;
    align-items: center;
}

