body {
font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
}

nav {
    background-color: #8cc7de;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


body {
    margin: 0;
}