body {
    margin: 0px 0px 10px 0px;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    background-color: #F9F5F0;
}

#welcometext {
    margin-block-start: 0;
}

h3 {
    margin-block-end: 1px;
}

nav {
    background-color: #8bd1ec;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.bank {
    margin-left: 20px;
    margin-right: 20px;
}

.Welcomepage {
    display: flex;
    align-items: center;
}

textarea {
    font-family: "Space Grotesk", sans-serif;
    color: #F9F5F0;
    text-align: left;
    border-radius: 3px;
    resize: unset;
    height: 230px;
    width: 99.5%;
    background-color: #ed7c2c;
}

.splitside {
    display: flex;
    flex-wrap: wrap;
}

.left {
    margin-right: 70px;
}

#leftside {
    display: flex;
    align-items: center;
}

#input {
    display: flex;
}

.textTools {
    display: flex;
    align-items: center;
}

select {
    font-family: "Space Grotesk", sans-serif;
}

button {
    font-family: "Space Grotesk", sans-serif;
}
